.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.opcoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
  
.opcaoComVeiculos {
    padding: 30px;
    font-size: 46px;
    background-color: #0000FF;
    color: #FFF;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 5px;
}

.opcaoSemVeiculos {
    padding: 30px;
    font-size: 46px;
    background-color: #FFF;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
    border-radius: 5px;
}